<div class="bottom_content">
	<div class="container_24">
		<div class="inner">
			<div class="grid_6">
				<div class="widget">
					<ul class="menu_type_1">
						<% for page in @pages %>
						<li>
							<%= link_to page.title, page_path(page) %>
						</li>
						<% end %>
					</ul>
				</div>
			</div>
			<div class="grid_6">
				<div class="widget">
					<h3>NETWORK</h3>
					<ul class="menu_type_2">
						<li>
							<a href="#">All Sports Mag</a>
						</li>
						<li>
							<a href="#">Car Tuning Mag</a>
						</li>
						<li>
							<a href="#">For Her Magazine</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="grid_6">
				<div class="widget">
					<h3>BLOG</h3>
					<ul class="menu_type_2">
						<li>
							<a href="#">We've redesigned the blog...</a>
						</li>
						<li>
							<a href="#">Saving everything in your...</a>
						</li>
						<li>
							<a href="#">Make it right, now!</a>
						</li>
						<li>
							<a href="#">Asylum of fools discovered</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="grid_6">
				<div class="widget">
					<h3>MAGAZINE</h3>
					<ul class="menu_type_2">
						<li>
							<a href="#">Our authors</a>
						</li>
						<li>
							<a href="#">Monthly Archive</a>
						</li>
						<li>
							<a href="#">Advertise</a>
						</li>
						<li>
							<a href="#">Jobs &amp; Careers</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>