<% title "Edit Article" %>
<div class="divider_thin"></div>
<!--content -->
<div class="grid_15 suffix_1 content">

<%= render 'form' %>

<p>
  <%= link_to "Show", @article %> |
  <%= link_to "View All", articles_path %>
</p>
