<div class="header">
	<div class="container_24">
		<div class="header_left">
			<%= link_to image_tag('logo.png', :alt =>'Show', :size => '300x115'), root_path %> 
			<div class="logo_text">
				<h1>NexInnova Network</h1>
			</div>
		</div>
		<div class="header_right">
			<div class="social_icons">
				<a href="#" class="social-rss"><strong>RSS</strong> subscribe</a> &nbsp; <a href="#" class="social-twitter"><strong>16453</strong> followers</a> &nbsp; <a href="#" class="social-facebook"><strong>5470</strong> fans</a>
				<div class="clearboth"></div>
			</div>
			<div class="search_box">
				<form method="get" id="searchform" action="">
					<input type="text" value="Search LifeStyle Magazine" onfocus="if (this.value == 'Search LifeStyle Magazine') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search LifeStyle Magazine';}" name="s" id="s" class="inputField" />
					<input type="submit" id="searchsubmit" value="Search" class="btn-search" />
				</form>
			</div>
		</div>
		<div class="clear"></div>
		<!-- topmenu -->
		<div class="topmenu">
			<ul class="dropdown">
				<% for page in @pages %>
				<li class="menu-blue">
					<%= link_to page.title, page_path(page) %>
				</li>
				<% end %>
			</ul>
		</div>
		<!--/ topmenu -->
	</div>
</div>