<% title "Edit Ad" %>
<div class="divider_thin"></div>
<!--content -->
<div class="grid_15 suffix_1 content">
<%= render 'form' %>

<p>
  <%= link_to "Show", @ad %> |
  <%= link_to "View All", ads_path %>
</p>
